@keyframes smoothSpawnTask {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    100%{
        opacity: 1;
        transform: translateX(0);
    }
}


.task {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 30rem;
    
    background-color: #fff;
    color: #191921;
    padding: .5rem;

    border-top: 2px solid #1C1E28;

    animation: smoothSpawnTask .6s ease;

    .left-task-content {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        width: 80%;

        gap: .8rem;

        .task-name {
            color: #fff;
            text-transform: capitalize;
            font-size: 1.2rem;

            padding: .2rem .5rem;
            background-color: #1C1E28;
            width: 100%;

            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .task-icons {
        display: flex;
        justify-content: center;
        align-items: center;

        gap: .3rem;

        width: 15%;
        padding-right: .5rem;

        height: 30px;

        a {
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
        }


        .edit-svg,
        .delete-svg {
            fill: #fff;

            background-color: #2d2d3a;

            padding: 3px;
            width: 30px;
            height: 30px;
            border-radius: 30px;

            transition: .2s ease;
        }

        .edit-svg:hover {
            fill: #0486ff;
            background-color: #000000;

            transition: .5s ease;
        }

        .delete-svg:hover {
            fill: #f74949;
            background-color: #000000;

            transition: .5s ease;
        }
    }

}


.check-label {
    --input-focus: #0ccc0c;
    --input-out-of-focus: #ffffff;
    --bg-color: #fff;
    --bg-color-alt: #666;
    --main-color: #323232;
    position: relative;
    cursor: pointer;
}

.check-label input {
    position: absolute;
    opacity: 0;
}

.checkmark {
    width: 30px;
    height: 30px;
    position: relative;
    top: 0;
    left: 0;
    border: 2px solid var(--main-color);
    border-radius: 5px;
    box-shadow: 4px 4px var(--main-color);
    background-color: var(--input-out-of-focus);
    transition: all 0.3s;
}

.checkmark:hover {
    background-color: #e3e3e3;
}

.check-label input:checked~.checkmark {
    background-color: var(--input-focus);

    transition: .3s ease;
}

.checkmark:after {
    content: "";
    width: 7px;
    height: 15px;
    position: absolute;
    top: 2px;
    left: 8px;
    display: none;
    border: solid var(--bg-color);
    border-width: 0 2.5px 2.5px 0;
    transform: rotate(45deg);
}

.check-label input:checked~.checkmark:after {
    display: block;
}


@media (max-width:426px) {
    .task {
        width: 20rem;
    }
}